<header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none"> 
            <h5>VICTOR ANDRÉ</h5>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 h4">
          <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Sobre</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Contato</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">FAQ</a></li>
        </ul>

        <img src="https://github.com/eusolomax.png" alt="mdo" width="32" height="32" class="rounded-circle">
      </div>
    </div>
</header>