body {
  width: 100%;
  height: 100vh;
  background-image: url(../../../assets/images/wallpaper.jpg);
  background-color: #485ab4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

