<body>
  <div class="background-land1">
    <video class="home-land1-background-video" disablePictureInPicture controlsList="nodownload" autoplay loop muted>
      <source src="../assets/43781.mp4" type="video/mp4">
    </video>

    <header class="home-header-div">
      <h1>Olá, me chamo Victor!</h1>
    </header>

    <div class="home-land1-div">
      <div class="home-land1-leftDiv">
        <div class="home-land1-desc-div">
          
          <p>sou</p>
          <h1>Desenvolvedor</h1>
          <h1>Frontend.</h1>
          <p>Por aqui você poderá ver meus trabalhos</p>
          <p>e me conhecer b<span id="a">e</span><span id="b">e</span><span id="c">e</span><span id="d">m</span> melhor!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="who-land-div">
    <video class="who-land2-background-video" disablePictureInPicture controlsList="nodownload" autoplay loop muted>
      <source src="../assets/16908.mp4" type="video/mp4">
    </video>

    <header class="who-header-div">
      <h1>mas, por onde começar? 🤔</h1>
    </header>
  </div>
</body>